
@using Diplomka.Models
@model Diplomka.Models.CommonList

@{
    ViewData["Title"] = "Список заявок";
}

<html>
<head>
    <title>Заявки</title>
</head>

<body>
    <h2>Заявки</h2>
          
<form method="get">
    <div class="form-inline">
        <label class="control-label">Заказчик:&nbsp;</label>
        <select name="factory" asp-items="Model.Factories" class="form-control"></select>
        <label>&nbsp;&nbsp;</label>
        <label class="control-label">Вид зерна:&nbsp;</label>
        <select name="grain" asp-items="Model.Orders" class="form-control"></select>
        <label>&nbsp;&nbsp;</label>
        <input type="submit" value="Фильтр" class="btn btn-primary" />
        <br />
    </div>
</form>
<br />

<table class="table table-bordered table-primary">
    <tr>
        <th>Id заявки</th>
        <th>Id заказа</th>
        <th>Склад</th>
        <th>Автобаза</th>
        <th>Машина</th>
        <th>Водитель</th>
        <th>Полное расстояние</th>
        <th>Полная цена</th>
        <th>Дата доставки
        </th>
        <th>Статус</th>
    </tr>

    @foreach (var p in Model.Applications)
    {
        <tr bgcolor = "#FFFFFF">
            <td>@p.ApplicationID</td>
            <td>@p.OrderID</td>
            <td>@p.Warehouse.Name</td>
            <td>@p.Depot.Name</td>
            <td>@p.Car.Name</td>
            <td>@p.Driver.FIO</td>
            <td>@p.FullDistance</td>
            <td>@p.FullPrice</td>
            <td>@p.Order.DeliveryDate</td>
            <td>@p.Order.Status</td>
        </tr>
    }
</table>
 @if (Diplomka.Controllers.AccountController.Role=="Планировщик")
 {
         <a asp-action="CreatePlan" class="btn btn-primary"> Сформировать план</a>
 } 
</body>
</html>
