
@using Diplomka.Models
@model Diplomka.Models.CommonList

@{
    ViewData["Title"] = "Список заявок";
}

<html>
<head>
    <title>Заявки</title>
</head>

<body>
    <h2>Заявки</h2>

<form method="get">
    <div class="form-inline">

        <label class="control-label">Статусы: </label>
        <select name="Status" asp-items="Model.Orders" class="form-control"></select>

        <input type="submit" value="Фильтр" class="btn btn-primary" />
        <br />
    </div>
</form>
<br />

<table class="table table-bordered table-primary">
    <tr>
        <th>Id заявки</th>
        <th>Id заказа</th>
        <th>Склад</th>
        <th>Автобаза</th>
        <th>Машина</th>
        <th>Водитель</th>
        <th>Полное расстояние</th>
        <th>Полная цена</th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.DeliveryDateSort">
                Дата доставки
            </a>
        </th>
        <th>Статус</th>
    </tr>

    @foreach (var p in Model.Applications)
    {
        <tr bgcolor = "#FFFFFF">
            <td>@p.ApplicationID</td>
            <td>@p.OrderID</td>
            <td>@p.Warehouse.Name</td>
            <td>@p.Depot.Name</td>
            <td>@p.Car.Name</td>
            <td>@p.Driver.FIO</td>
            <td>@p.FullDistance</td>
            <td>@p.FullPrice</td>
            <td>@p.Order.DeliveryDate</td>
            <td>@p.Order.Status</td>
        </tr>
    }
</table>
</body>
</html>
