@model IEnumerable<Diplomka.Models.CargoRemnant>
@{
    ViewData["Title"] = "Остатки грузов";
}

<!DOCTYPE html>

<html>
<head>
    <title>Остатки грузов на складах</title>
</head>

<body>
    <h2>Остатки грузов на складах</h2>
    <h5><a asp-action="CreateCargoRemnant"> Добавить остатки</a></h5>
    <table class="table table-bordered table-primary">
        <tr>
            <th>Название склада</th>
            <th>Вид зерна</th>
            <th>Количество</th>  
            <th></th>                
            <th></th>                

        </tr>
        @foreach (CargoRemnant cargoRemnant in Model)
        {
            <tr bgcolor = "#FFFFFF">
                <td>@cargoRemnant.Warehouse.Name</td>
                <td>@cargoRemnant.Grain.Name</td>
                <td>@cargoRemnant.Volume</td>              
                <td><a asp-action="EditCargoRemnant" asp-controller="Warehouse" asp-route-id="@cargoRemnant.CargoRemnantID">Изменить</a></td> 
                <td><a asp-action="DeleteCargoRemnant" asp-controller="Warehouse" asp-route-id="@cargoRemnant.CargoRemnantID">Удалить</a></td>  
            </tr>
        }      
    </table>
</body>
</html>
